@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
* {
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(dev.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.hero{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

h1{
    font-size: 60px;
    letter-spacing: 15px;
}

hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

#launch{
    font-size: 40px;
    word-spacing: 20px;
    font-family: 'Saira', sans-serif;
}
#baw{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin-bottom: 30px;
}